{% include 'admin_header.html' %}
{% include 'temp_header.html' %}

<body onload="printDiv()">





<script> 
		function printDiv() { 
			var divContents = document.getElementById("div_print").innerHTML; 
			var a = window.open('', '', 'height=500, width=500'); 
			a.document.write(divContents); 
			a.document.close(); 
			a.print(); 
		} 
	</script> 
<div style="color: #fff;">
	<center>



	 <div id="div_print" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
      <br>
      <h5 class="navbar-brand brand float-md-start mb-0" style="text-align: right;margin-top: -30px;">

      <img style="width:75px; height:50px;" src="/static/img/3.jpg">
      <br>AQUA
      </h5>
    <p align="left" style="margin-top: -50px;"> <i class="fa fa-address-card" aria-hidden="true"></i> AQUA-IN, aqua-in Street,India. 
                     <br><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 
                  <br><i class="fa fa-envelope" aria-hidden="true"></i> aqua.in@gmail.com
    </p>
	<h2><center>CUSTOMER REPORT</center></h2>
	<center><table class="table" border="1" style="width: 700px;color: black">
			<tr>
				
				<th>Sl.no</th>
				<th>Customer name</th>
				<th>Phone</th>
				<th>House Name</th>
				<th>Place</th>	
				<th>District</th>
				<th>Pincode</th>
				<th>Email</th>
			
			</tr>
			{% for row in data['customer'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{ row['first_name'] }}</td>
				<td>{{ row['phone'] }}</td>
				<td>{{ row['house'] }}</td>
				<td>{{ row['place'] }}</td>
				<td>{{ row['district'] }}</td>
				<td>{{ row['pincode'] }}</td>
				<td>{{ row['email'] }}</td>
			
			</tr>
			
			{% endfor %}
		</table>
	</center>	

		
		
	
	
</form>
	
</center>
</div>

        </div>
      </div>
	  <center>
	  <div id="div_print" > 
		<input type="button" value="click to print" class="btn btn-danger" onclick="printDiv()"> 
      </div>
	  </center>
          
          
        </div>
      </div>

    </div>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% include 'footer.html' %}