{% include 'admin_header.html' %}
<center>
	<h1 style="padding-top: 150px;">Vendors</h1>
		<table class="table" style="width: 700px;color: #fff">
			<tr>
				<th>Sno</th>
				<th>Vendor</th>
				
			</tr>

			{% for row in data['vendor'] %}

			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ row['company_name'] }}</td>
				<td><a href="admin_manage_fish?bid={{data['bid']}}" class="btn btn-info">Add Item</a></td>
				<td><a href="admin_manage_equipments?subid={{data['subid']}}&vid={{row['vendor_id']}}" class="btn btn-info">Add Equipment</a></td>
				<td><a href="admin_select_item?subid={{data['subid']}}&vid={{row['vendor_id']}}" class="btn btn-info">Purchase</a></td>
					
			</tr>
			{% endfor %}

		</table>
</center>
</div>
        </div>
      </div>

      
          
          
        </div>
      </div>
{% include 'footer.html' %}