{% include 'admin_header.html' %}
{% include 'temp_header.html' %}


<script> 
		function printDiv() { 
			var divContents = document.getElementById("div_print").innerHTML; 
			var a = window.open('', '', 'height=500, width=500'); 
			a.document.write(divContents); 
			a.document.close(); 
			a.print(); 
		} 
	</script> 



<center>
	<h1 style="padding-top: 0px;">ITEM REPORT</h1>
	<br><br>
	
		



	
	<table class="table" style="width: 500px;color: black">
		<tr>
			<tr>
					<th>Sl.no</th>
					<th>Breed</th>
					<!-- <th>Brand</th> -->
					<th>Type</th>
					<th>Product</th>
					<th>Selling Price</th>
					<th>Photo</th>
					<th>Description</th>
					<!-- <th>Cost Price</th> -->
				</tr>

				{% for row in data['item'] %}

				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ row['breed'] }}</td>
					<!-- <td>{{ row['brand'] }}</td> -->
					<td>{{ row['type'] }}</td>
					<td>{{ row['product'] }}</td>
					<td>{{ row['amount'] }}</td>
					<td><a href="/{{row['image']}}"><img width="150" height="150" src="/{{row['image']}}"></a></td>
					<td>{{ row['description'] }}</td>
					<!-- <td>{{ row['cost_price'] }}</td> -->
		</tr>

			{% endfor %}
	</table>
	<td><a href="admin_print">Report</a></td>
	
        </div>
      </div>

      
          
          
        </div>
      </div>
	
	
	
</center>
</form>

{% include 'footer.html' %}