{% include 'admin_header.html' %}

		<center>

{% if data['update_view'] %}
	<form method="post">
		
			<h2>UPDATE CATEGORY</h2>
			<table class="table" style="width: 600px;color: #fff">
				<tr>
					<th>Category</th>
					<td><input type="text" name="cat" value="{{ data['update_view'][0]['category'] }}" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="update_submit" value="Update Category" class="btn btn-primary"></td>
				</tr>
			</table>
	</form>

{% else %}
	<form method="post">
<br><br><br><br>
			<h2>ADD CATEGORY</h2>
			<table class="table" style="width: 600px;color:#fff">
				<tr>
					<th>Category</th>
					<td><input type="text" name="cat" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-danger"></td>
				</tr>
			</table>
	</form>
{% endif %}

{% if data['cat'] %}
<br><br><br>
			<h2>CATEGORIES</h2>
			<table class="table" style="width: 700px;color: #fff">
				<tr>
					<th>Sl.no</th>
					<th>Category</th>
					<th>Status</th>

				</tr>
				{% for row in data['cat'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['category']}}</td>
					<td>{{row['c_status']}}</td>
					{% if row['c_status']=='active' %}
						<td><a class="btn btn-warning btn-sm" href="admin_manage_subcategory?ids={{row['category_id']}}">Sub Category</a></td>
					{% endif %}		

					<td><a class="btn btn-success btn-sm" href="?action=update&ids={{row['category_id']}}">Update</a></td>
					{% if row['c_status']=='active' %}
						<td><a class="btn btn-danger btn-sm" href="?action=inactive&ids={{row['category_id']}}">Inactive</a></td>
					{% elif row['c_status']=='inactive' %}
						<td><a class="btn btn-danger btn-sm" href="?action=active&ids={{row['category_id']}}">Active</a></td>
					{% endif %}		
				</tr>
				{% endfor %}
			</table>
		</center>

{% endif %}


</div>
        </div>
      </div>

      
          
          
        </div>
      </div>

    </div>
{% include 'footer.html' %}