{% include 'admin_header.html' %}

<center>
	<h1>BOOKING REPORT</h1>
	<br><br>
	<h5>SEARCH</h5>
	<table style="color: #fff">
		<tr>
			<th>From date</th>
			<td><input type="date" name="fdate"></td>
		</tr>
		<tr>
			<th>To date</th>
			<td><input type="date" name="tdate"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" value="search" name="submit"></td>
		</tr>
	</table>
	<table style="color: #fff">
		<tr>
			<th>Sno</th>
			<th>Customer</th>
			<th>total</th>
			<th>Date</th>
		</tr>
	</table>
</center>
</div>
        </div>
      </div>

      
          
          
        </div>
      </div>

    </div>
{% include 'footer.html' %}