{% include 'admin_header.html' %}

	<center>

		{% if data['update_view'] %}

	<form method="post" enctype="multipart/form-data">

		<h1>UPDATE EQUIPMENTS</h1>
		<table class="table" style="width: 600px;color: #fff">
			
			<!-- <tr>
				<th>Vendor</th>
				<td><select name="vendor" class="form-control">
					<option value="{{data['update_view'][0]['vendor_id']}}">{{data['update_view'][0]['vname']}}</option>
					{% for row in data['vendor'] %}
					<option value="{{row['vendor_id']}}">{{row['vname']}} </option>
					{% endfor %}
				</select></td>
			</tr> -->
			<tr>
				<th>Product</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid product name" required name="product" class="form-control" value="{{data['update_view'][0]['product']}}"></td>
			</tr>
			<tr>
				<th>Brand</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid product name" required name="brand" class="form-control" value="{{data['update_view'][0]['brand']}}"></td>
			</tr>
			
			<!-- <tr>
				<th>Amount</th>
				<td><input type="text" pattern="[0-9]{0,50}" title="enter valid amount" required name="amount" class="form-control" value="{{data['update_view'][0]['amount']}}"></td>
			</tr> -->
			<tr>
				<th>Photo</th>
				<td><input type="file" title="Equipments image" name="image" class="form-control"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid description" required name="desc" class="form-control" value="{{data['update_view'][0]['description']}}"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" value="UPDATE" name="update_submit" class="btn btn-success"></td>
			</tr>
		</table>
</form>

		{% else %}
	<form method="post" enctype="multipart/form-data">
<br><br><br>
		<h1>ADD EQUIPMENTS</h1>
		<table class="table" style="width: 700px;color: #fff">
			<!-- <tr>
				<th>Subcategory</th>
				<td><select required name="subcat" class="form-control">
					<option>Select</option>
					{% for row in data['subcategory'] %}

					<option value="{{ row['subcategory_id'] }}">{{ row['subcategory'] }}</option>

					{% endfor %}


				</select></td>
			</tr>
			<tr>
				<th>Vendor</th>
				<td><select required name="vendor" class="form-control">
					<option>Select</option>
					{% for row in data['vendor'] %}

					<option value="{{ row['vendor_id'] }}">{{ row['company_name'] }}</option>

					{% endfor %}
				</select></td>
			</tr> -->
			<tr>
				<th>Product</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid product name" required name="product" class="form-control"></td>
			</tr>
			<tr>
				<th>Brand</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid product name" required name="brand" class="form-control"></td>
			</tr>
			
			<!-- <tr>
				<th>Amount</th>
				<td><input type="text" pattern="[0-9]{0,50}" title="enter valid amount" required name="amount" class="form-control"></td>
			</tr> -->
			<tr>
				<th>Photo</th>
				<td><input type="file" title="Equipments image" required name="image" class="form-control"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><input type="text" title="Description" required name="desc" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" value="ADD" name="submit" class="nbtn btn-danger"></td>
			</tr>
		</table>
</form>

		{%  endif %}
		</div>
        </div>
      </div>

      
          
          
        </div>
      </div>

    </div>

		
		<br>
		<br>
		<br>
		<br>
		<center><h1>Equipments</h1>
		<table class="table" style="width: 800px;color: black">
			<tr>
				<th>Sl.no</th>
				<th>Subcategory</th>
				<th>Type</th>
				<!--  -->
				<th>Product</th>
				<th>Brand </th>
				<!-- <th>Amount</th> -->
				<th>Photo</th>
				<th>Description</th>
			</tr>

			{% for row in data['equip'] %}

			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ row['subcategory'] }}</td>
				<td>{{ row['type'] }}</td>
				
				<td>{{ row['product'] }}</td>
				<td>{{ row['brand'] }}</td>
				<!-- <td>{{ row['amount'] }}</td> -->
				<td><img width="80" height="50" src="/{{row['image']}}"></td>
				<td>{{ row['description'] }}</td>
				<td><a class="btn btn-success btn-sm" href="?action=update&ids={{ row['item_id'] }}&subid={{data['subid']}}">Update</a></td>
				{% if row['i_status']=='active' %}
					<td><a class="btn btn-danger btn-sm" href="?action=inactive&ids={{ row['item_id'] }}&subid={{data['subid']}}">Inactive</a></td>
				{% elif row['i_status']=='inactive' %}
					<td><a class="btn btn-danger btn-sm" href="?action=active&ids={{ row['item_id'] }}&subid={{data['subid']}}">Active</a></td>
				{% endif %}		
			</tr>

			{% endfor %}

		</table>

	</center>
{% include 'footer.html' %}