{% include 'public_header.html' %}

<div class="tm-main">

    <div class="tm-welcome-section" >
      <div class="container tm-navbar-container">
        <div class="row">
          <div class="col-xl-12">
            <nav class="navbar navbar-expand-sm">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a href="/" class="nav-link tm-nav-link tm-text-white active">Home</a>
                </li>
                <li class="nav-item">
                  <a href="public_login" class="nav-link tm-nav-link tm-text-white">Login</a>
                </li>
                <li class="nav-item">
                  <a href="customer_register" class="nav-link tm-nav-link tm-text-white">New Customer</a>
                </li>
              </ul>
            </nav>
		<center>
		<form method="post">	
			<h2>Forgot Password</h2>
			<table class="table" style="width: 500px;color: white;">
				<tr>
					<th>Username</th>
					<td style="color: white"><input type="text" name="uname"  class="form-control" ></td>
				</tr>
				<tr>
					<th>Phone</th>
					<td><input type="text" name="ph"  class="form-control" ></td>
				</tr>
				<tr>
					
					<td align="center" colspan="2"><input type="submit" name="next" value="Next" class="btn btn-danger"></td>

				</tr>
			</table>
		</center>
	</form>
								
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
								
								
					

	
{% include'footer.html' %}