{% include 'staff_header.html' %}


	<form method="post">
		<center>
			<h2 style="padding-top: 200px;">MANAGE SUBCATEGORY</h2>
			<table class="table" style="width: 600px;padding-top: 200px;color:white">
				<tr>
					<th>Subcategory Name</th>
					<td><input type="text" name="sname" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-danger"></td>
				</tr>
			</table>
			<br>
			<h2>SUBCATEGORIES</h2>
			<table class="table" style="width: 700px;color:white">
				<tr>
					<th>Sl.no</th>
					<th>Category Name</th>
					<th>Subcategory</th>
					<th>Status</th>
				</tr>
				{% for row in data['subcat'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{ row['category'] }}</td>
					<td>{{ row['subcategory'] }}</td>
					<td>{{ row['sub_status'] }}</td>
					{% if row['sub_status']=='active' %}
						<td><a class="btn btn-danger btn-sm" href="?action=inactive&ids1={{row['subcategory_id']}}&ids={{data['ids']}}">Inactive</a></td>
					{% elif row['sub_status'] =='inactive' %}
						<td><a class="btn btn-danger btn-sm" href="?action=active&ids1={{row['subcategory_id']}}&ids={{data['ids']}}">Active</a></td>
					{% endif %}		
					<!-- <td><a class="btn btn-warning btn-sm" href="staff_manage_subcategory?ids={{row['subcategory_id']}}">Type</a></td> -->
				</tr>
				{% endfor %}
			</table>
		</center>
	</form>
	</div>
        </div>
      </div>

      
          
          
        </div>
      </div>
{% include 'footer.html' %}