{% include 'staff_header.html' %}



<center>
	<h1>ORDERS</h1>
		<table class="table" style="width: 700px;color: white">
			<tr>
				<th>Sno</th>
				<th>Customer</th>
				<th>Total</th>
				<th>Date</th>
				<th>Status</th>
			</tr>

			{% for row in data['bookings'] %}

			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ row['customer_name'] }}</td>
				<td>{{ row['total'] }}</td>
				<td>{{ row['date'] }}</td>
				<td>{{ row['status'] }}</td>
				{% if row['status']=='paid' %}
				<td><a class="btn btn-danger btn-sm" href="staff_view_payment?ids={{row['booking_id']}}">View Payment Details</a></td>
				<td><a class="btn btn-info" href="?action=ship&ids={{row['booking_id']}}">Set Delivery</a></td>
				{% endif %}
				{% if row['status']=='shipped' %}
				<td><a class="btn btn-info" href="?action=deliver&ids={{row['booking_id']}}">Complete Delivery</a></td>
				{% endif %}
			</tr>

			{% endfor %}

		</table>
</center>
</div>
        </div>
      </div>

      
          
          
        </div>
      </div>
{% include 'footer.html' %}